@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body{
    background-color: #fff;
}

.divBanner {
    padding: 5px;

}

.banner{
    width: 100%;
    object-fit: cover; /* Redimensiona para cobrir o espaço mantendo a proporção */
    object-position: center top;
}

.container {
    width: 80%;
    height: 50%;
    margin: auto;
    /*220, 238, 248 cor boa*/
    border-radius: 8px;
}

.container a {
    text-decoration: none;
    font-family: 'Raleway';
}

.membership {
    width: 40%;
    margin: auto;
}

.cardsMember {
    display: flex;
    justify-content: center;
}

.cardMember {
    width: 375px;
    height: 365px;
    margin: 10px;
    border-radius: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0.3, 0.3);
    background: linear-gradient(330.17deg, #14142B 18.22%, #561496 84.39%);
}

.cardContent {
    color: white;
    padding: 25px;
}

.cardContentTitle{
    display: inline;
}

.bestValue {
    display: inline;
    padding: 5px;
    margin: 0;
    background-color: yellow;
    color: rgb(89, 44, 130);
    font-size: 1px;
}

.bannerVideo {
    width: 100%;
    position: relative;
  }

.bannerVideo img {
    position: absolute;
     width: 30%; /* 50% da largura da div pai */
     height: 100%;
     left: 36%; /* 25% da esquerda da div pai */
    z-index: 1; /* Define a ordem de sobreposição, maior número = mais na frente */
}
.bannerVideo video{
    width: 100%;
}

.videos {
    display: flex;
    justify-content: space-between;
}

.videos video {
    width: 600px;
}

.paragrafo {
    padding: 8px;
   
}

.center {
    text-align: center;
}

.alingCenter {
    margin:auto;
}


.container p{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.2em;
 }

 .imgindex{
    align-self: center;
 }

 .imgindex img {
    align-content: center;
    width: 50%;

}

h1 {
    font-family: 'Raleway';
}

.benefits {
    margin: 8px;
    font-family: 'Raleway';

}

.rodape {
    background-color: blanchedalmond;
    padding: 25px;
    font-family: 'Raleway';
    font-weight: 600;
}

 .rodape .menuRodape {
    text-align: left;
}


  /* Estilo para telas menores (responsivo) */
  @media (max-width: 1300px) {
    
    .videos {
        display: block;
        flex-direction: column; 
         }

         .videos video {
            width: 100%;
             }
    }

    @media (max-width: 900px) {
    
        h1 {
            font-family: 'Raleway';
            font-size: 100%;
        }
    }