@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.tabela  {
    width: 100%; 
    border: 1px solid #ddd;
    font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;

}

.tabela iframe{
  width: 400px;
  height: 300px;
  
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;

  }

    .tableWork th {
      padding: 20px;
      border: 1px solid black;
      width: 200px;
      text-align: center;
    }

    .tableWork a {
      color: black;
    }
    
    .tableWork {
      margin: auto;
    }

  @media (max-width: 900px) {
    .tabela-container {
      max-width: 900px;
      overflow-x: auto; /* Adiciona barra de rolagem horizontal se a tabela exceder a largura máxima */
    }

    .tabela {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      
    }

    .tabela iframe{
      width: auto;
      height: auto;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    /* Estilos adicionais para tornar a tabela mais agradável visualmente */
    th, td {
      transition: background-color 0.3s;
    }
    
    tr:hover {
      background-color: #f5f5f5;
    }
  }