@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .cardLink {
    color: black;
  }

  .divCards {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin:auto;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;
  }

  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0.3, 0.3);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px; /* Largura inicial para telas maiores */
    height: 325px;
    flex-wrap: wrap;
    transition: color 0.3s;  /* Efeito de transição suave ao passar o mouse */
  }

  .card:hover {
    transform: scale(1.01);
  }

  .cardTitle {
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    margin: 0;
  }

  .cardImg {
    width: 100%; /* Imagem responsiva */
    height: auto;
  }

  @media (max-width: 768px) {
    .card .cardImg{
      width: 100%; /* Tornar o card de largura total em telas menores */
    }
  }


.tabela  {
    width: 100%; 
    border: 1px solid #ddd;
    font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;

}

.tabela iframe{
  width: 400px;
  height: 300px;
  
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;

  }

    .tableWork th {
      padding: 20px;
      border: 1px solid black;
      width: 200px;
      text-align: center;
    }

    .tableWork a {
      color: black;
    }
    
    .tableWork {
      margin: auto;
    }

  @media (max-width: 900px) {
    .tabela-container {
      max-width: 900px;
      overflow-x: auto; /* Adiciona barra de rolagem horizontal se a tabela exceder a largura máxima */
    }

    .tabela {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      
    }

    .tabela iframe{
      width: auto;
      height: auto;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    /* Estilos adicionais para tornar a tabela mais agradável visualmente */
    th, td {
      transition: background-color 0.3s;
    }
    
    tr:hover {
      background-color: #f5f5f5;
    }
  }